<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/static/css/style.css">
    <script defer src="/resources/static/script/script.js"></script>
    <title>ArcturoTech</title>
</head>
<body>

   <header class="header">
        <nav class="menu">
            <a id="logo" href="#" >Arcturos Tech</a>
            <div class="menu-itens">
                <ul class="itens">
                    <li class="ul-itens">
                        <a href="#">Home</a>
                    </li>
                    <li class="ul-itens">
                        <a href="#">Sobre</a>
                    </li>
                    <li class="ul-itens">
                        <a href="#">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="info">
            <h1 class="titulo">Inovação e tecnologia</h1>
            <p class="subtitulo">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <button class="botao" id="scrollButton"> Saiba mais</button>
        </div>
    </header>

    <div class="spacer" style="height: 100vh; background-color: #f2f2f2;"></div>

    <!-- Seção alvo -->
    <div id="targetSection" class="section" style="background-color: #e2e2e2;">
        <h2>Seção Alvo</h2>
        <p>Este é o conteúdo da seção que será exibida após o scroll com efeito de esmaecimento.</p>
    </div>

    <div class="spacer" style="height: 100vh; background-color: #f2f2f2;"></div>
    
</body>
</html>